html {
    background: linear-gradient(to bottom right,rgb(66, 66, 66), rgb(65, 49, 71), rgb(82, 36, 97));
    background-attachment: fixed;

    color: azure;

    font-family: 'Open Sans', sans-serif;
}